@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
html {
  font-size: 62.5%;
}

* {
  letter-spacing: 1.3px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "ubuntu", sans-serif;
  color: #333;
}

.content-container {
  padding: 1rem 2vw;
  margin: 0 1rem;
}

@media (min-width: 900px) {
  .content-container {
    margin: 0 5vw;
  }
}

@media (min-width: 640px) and (max-width: 899px) {
  .content-container {
    margin: 0 3.4rem;
  }
}

@media (min-width: 405px) and (max-width: 721px) {
  .content-container {
    margin: 0 1.6rem;
  }
}

.button, .button__cv {
  display: inline-block;
  margin: 3.4rem 0 0 4.8rem;
  letter-spacing: 1.4px;
  font-size: 1.6rem;
  border: 1px solid #c75151;
  padding: 1rem 1.6rem;
  color: whitesmoke;
  font-family: "ubuntu", sans-serif;
  background: #c75151;
}

.button:hover, .button__cv:hover {
  background: transparent;
  -webkit-transition: background .4s ease;
  transition: background .4s ease;
}

.button__cv {
  margin-left: 0;
}

.button__cv:hover {
  color: #333;
  border-radius: 5px;
}

.navbar {
  background: none;
  background-color: transparent;
  position: fixed;
  width: 100vw;
  font-family: "ubuntu", sans-serif;
  z-index: 999;
}

.navbar ul {
  display: inline;
}

.navbar .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .logo a {
  font-size: 3.4rem;
  font-weight: 600;
  color: whitesmoke;
}

.navbar .menu li a {
  color: whitesmoke;
  font-size: 1.6rem;
  font-weight: 500;
}

.navbar .menu ul li {
  list-style: none;
  margin: 0 1rem;
}

.navbar li a:hover {
  color: #c75151;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.navbar .menu {
  position: fixed;
  width: 100vw;
  background: rgba(34, 34, 34, 0.9);
  height: 100vh;
  left: -100vw;
  top: 0;
  padding-top: 4.8rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar .menu ul li {
  display: block;
  text-align: center;
  padding: 1.6rem 0;
}

.navbar .menu.active {
  left: 0;
}

@media (min-width: 45rem) {
  .navbar .menu {
    all: revert;
  }
  .navbar .menu ul li {
    margin: 0 1rem;
    display: inline;
  }
}

.navbar .btn-menu {
  display: block;
  z-index: 999;
}

.navbar .btn-menu i {
  padding: 0 1rem;
  font-size: 1.6rem;
  color: whitesmoke;
}

.navbar .btn-menu i:hover {
  cursor: pointer;
}

.navbar .btn-menu i.active:before {
  content: "\f00d";
  color: #c75151;
}

@media (min-width: 45rem) {
  .navbar .btn-menu {
    display: none;
  }
}

.in-scroll {
  background-color: rgba(199, 81, 81, 0.95);
  -webkit-transition: background 0.4s ease;
  transition: background 0.4s ease;
}

.in-scroll .btn-menu i:hover {
  color: #333;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url("../../images/home4.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100wh;
}

.home .text-1 {
  font-size: 2.9rem;
  font-weight: 400;
  color: whitesmoke;
  margin-left: 4.8rem;
  padding-bottom: 1rem;
}

.home .text-2 {
  font-size: 4.8rem;
  font-weight: 600;
  color: whitesmoke;
  margin-left: 4.8rem;
  padding-bottom: 1.5rem;
}

.home .text-3 {
  font-size: 3.6rem;
  font-weight: 450rem;
  color: whitesmoke;
  margin-left: 4.8rem;
}

.home .text-3 span {
  color: #c75151;
  font-weight: 600;
}

@media (min-width: 1042px) {
  .home .text-1 {
    font-size: 3.4rem;
  }
  .home .text-2 {
    font-size: 4.8rem;
  }
  .home .text-3 {
    font-size: 3.9rem;
  }
}

@media (min-width: 640px) and (max-width: 1041px) {
  .home .text-1 {
    font-size: 2.4rem;
  }
  .home .text-2 {
    font-size: 3.8rem;
  }
  .home .text-3 {
    font-size: 2.4rem;
  }
}

@media (min-width: 405px) and (max-width: 721px) {
  .home .home-content {
    padding-left: 19.6rem;
  }
  .home .home-content a {
    margin-left: 4.8rem;
  }
  .home .text-1 {
    font-size: -2.4rem;
  }
  .home .text-2 {
    font-size: -0.6rem;
  }
  .home .text-3 {
    font-size: -2.4rem;
  }
}

@media (min-width: 291px) and (max-width: 538pxpx) {
  .home .home-content {
    padding-left: 13.4rem;
  }
  .home .text-1 {
    padding-left: 3.4rem;
  }
  .home .text-2 {
    padding-left: 3.4rem;
  }
  .home .text-3 {
    padding-left: 3.4rem;
  }
}

@media (max-width: 290px) and (min-width: 150px) {
  .home .text-1 {
    font-size: 2.4rem;
  }
  .home .text-2 {
    font-size: 3.8rem;
  }
  .home .text-3 {
    font-size: 2.4rem;
  }
}

.about {
  padding: 100px 0;
}

.about .about-content img {
  width: 250px;
  height: 300px;
}

.about .about-content {
  margin-top: 3.4rem;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right p {
  font-size: 1.6rem;
  font-size: 500;
  color: #333;
  line-height: 2.3rem;
  text-align: justify;
}

.about .about-content .write {
  width: 45%;
}

.about img {
  height: 200px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 8px #3a2a00;
          box-shadow: 0 0 8px #3a2a00;
}

@media (min-width: 1041px) {
  .about .about-content img {
    width: 350px;
    height: 400px;
  }
}

@media (min-width: 601) and (max-width: 800) {
  .about .about-content img {
    width: 250;
    height: 300;
  }
}

@media (min-width: 801) and (max-width: 1040) {
  .about .about-content img {
    width: 300px;
    height: 350px;
  }
}

@media (max-width: 600px) {
  .about .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about-content .right {
    margin-top: 1.6rem;
    width: 80%;
  }
}

.service {
  padding: 100px 0;
  background: #333;
}

.service * {
  color: whitesmoke;
}

.service .service-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service .service-content .card {
  display: inline-block;
  width: calc(100%);
  padding: 30px 25px;
  text-align: center;
  background-color: #222;
  margin: 4.8rem 1rem 0 1rem;
  border-radius: 6px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  -webkit-box-shadow: 0 0 2px #c75151;
          box-shadow: 0 0 2px #c75151;
}

@media (min-width: 908px) {
  .service .service-content .card {
    width: calc(33% - 20px);
    margin: 4.8rem 1rem;
  }
}

@media (min-width: 600px) and (max-width: 907px) {
  .service .service-content .card {
    width: calc(50% - 30px);
    margin: 4.8rem 1rem;
  }
}

.service .service-content .card:hover {
  background-color: #c75151;
  cursor: pointer;
}

.service .service-content .card:hover * {
  color: #111;
}

.service .service-content .card:hover .box {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.service .service-content .card i {
  font-size: 3.4rem;
  color: #c75151;
}

.service .service-content .card .text {
  font-size: 2.4rem;
  font-weight: 500;
  padding: 1.6rem 0;
  text-align: center;
}

.service .service-content .card p {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
}

.title, .title__service {
  position: relative;
  text-align: center;
  font-size: 3.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-bottom: 1.6rem;
}

.title:before, .title__service:before {
  content: "";
  position: absolute;
  height: 2px;
  left: 50%;
  width: 160px;
  bottom: 0;
  background-color: #333;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.title:after, .title__service:after {
  content: "Who I am";
  text-align: center;
  position: absolute;
  font-size: 2.1rem;
  bottom: -9px;
  color: #c75151;
  left: 50%;
  letter-spacing: 0.2px;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.title__service {
  color: whitesmoke;
}

.title__service:after {
  content: "What i provide";
  background: #333;
}

.title__service:before {
  background-color: whitesmoke;
}
/*# sourceMappingURL=style.css.map */
